form {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--surface-1);
}

/* Input styles */
input,
textarea,
select {
  box-sizing: border-box;
  margin: 2px 0;
  padding: 4px;
  width: 100%;
  min-height: 2rem;
  border: 2px solid transparent;
  color: var(--text);
  font-size: 1rem;
}


input:disabled,
textarea:disabled,
select:disabled {
  color: var(--text-alt);
  background-color: var(--surface-3);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--info);
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 1ch;
  width: min-content;
  display: inline-block;
  min-height: auto;
  vertical-align: middle;
  transform: translateY(-1px);
}


input[type="checkbox"]:checked,
input[type="radio"]:checked {
  color: var(--info);
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--info);
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--info);
}


.add-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-field select {
  flex: 1 1 auto;
}

.add-field button {
  flex: 0 0 2rem;
  border: none;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
  background-color: var(--success);
  font-size: 0.875rem;
  color: var(--text);
  cursor: pointer;
}